@import url(./resetStyles.css);

.modal {
  width: 754px;
  border-radius: 12px;
  background-color: antiquewhite;
  padding: 53px 98px;
}

.input {
  height: 56px;
  border: 1px solid #d6dade;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 32px;
}

.modal .input {
  width: 100px;
}
